{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><a href="{{ url('district_index') }}">Lista dzielnic Gdańska i Krakowa</a></h3>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
